.cover{
    width:80%;
    margin:40px auto;
    padding:40px;
    background:#F3E8FF;
    border-radius:30px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.cover img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    border:8px solid #D8B4FE;
}


.cover h2{
    color:#6B4FA3;
}


.cover p{
    font-size:22px;
    color:#555;
}
